.name {
	font-family: 'Karla';
	font-size: 100px;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Raleway';
	text-align: center;
	font-size: 24px;
}

.rutgers {
	color: #ff2400
}

a {
	color: #64a9e9;
}

.links {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.links a {
	margin-right: 25px;
}

a:link {
	text-decoration: none;
}